@import "tailwindcss";

.animated-gradient {
  background: linear-gradient(-45deg,
    #B936EE,
    #3BACE2,
    #FF56F6
  );
  background-size: 300% 300%;
  animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
